
/* PARALLAX CSS
============================== */

#parallax-sections-114{
  background:url("/images/parallax/p2.jpg") repeat 50% -3px fixed transparent;
}
#parallax-sections-116{
  background:url("/images/parallax/p3.jpg") repeat 50% -3px fixed transparent;
}
#parallax-sections-121{
  background:url("/images/parallax/p4.jpg") repeat 50% -3px fixed transparent;
}

.topBar{
  background-color:#262626;
  background-image:none;
  border-color:#000000;
}
nav.mainMenu ul li a{
  color:#b5b5b5;
}
nav.mainMenu ul li > a:hover,nav.mainMenu ul li.active > a{
  color:#CC6633;
}