<section class="gallery page-sections-23 alternate-bg2" id="about">
  <div class="container">
    <div class="titleBar"><span></span><h2>About</h2></div>
      <div class="embed">
        <iframe src="https://www.facebook.com/video/embed?video_id=397039657079259" width="800" frameborder="0"></iframe>
      </div>
      <p>
        Bollywood America is a Filmi-Fusion dance championship competition that features the top teams from in the United States and Canada. Each participating team is the winner of a bid-qualifying competition chosen by our organization. Teams of all nature including collegiate, independent, professional, and dance schools and academies are accepted to this competition.
      </p>
      <p>
        Our mission is to spread the awareness of the South Asian culture across the United States and Canada. We take great pride in the performing arts, education, and community outreach.
      </p>
  </div>
</section>