<section class="gallery page-sections-23 alternate-bg2" id="about">
  <div class="container">
    <div class="titleBar"><span></span><h2>About</h2></div>
      <div class="embed">
        <iframe src="https://www.facebook.com/video/embed?video_id=397039657079259" width="800" frameborder="0"></iframe>
      </div>
      <p>
        Bollywood America is the largest South Asian filmi-fusion dance competition in the world and is a final round championship featuring the top collegiate, independent, professional, and dance academy teams from the United States and Canada. Each participating team is invited to compete at Bollywood America after placing first at one of our bid-qualifying competitions, which we select each year and believe to be the best regional competitions hosted throughout the year.
      </p>
  </div>
  <div class="container">
    <div class="titleBar"><h2>Past Winners</h2></div>
    <div class="four columns">
      <h3>2013</h3>
      <h5>Champion</h5>
      <p>UC Dhadak</p>
      <h5>Runners-Up</h5>
      <p>USC Zeher</p>
      <h5>Freestyle Battle</h5>
      <p>UC Dhadak</p>
    </div>
    <div class="four columns">
      <h3>2012</h3>
      <h5>Champion</h5>
      <p>UC San Diego Zor</p>
      <h5>Runners-Up</h5>
      <p>UofArizona OM Shanti</p>
      <h5>Freestyle Battle</h5>
      <p> UC Irvine Zamana</p>
    </div>
    <div class="four columns">
      <h3>2011</h3>
      <h5>Champion</h5>
      <p>UC Berkley Azaad</p>
      <h5>Runners-Up</h5>
      <p>UIUC Fizaa</p>
      <h5>Freestyle Battle</h5>
      <p> Broadstreet Badshaahz</p>
    </div>
    <div class="four columns">
      <h3>2010</h3>
      <h5>Champion</h5>
      <p>New York City Wanted Ashiqz</p>
      <h5>Runners-Up</h5>
      <p>UCLA Nashaa</p>
      <h5>Freestyle Battle</h5>
      <p> UCLA Nashaa</p>
    </div>
  </div>
</section>