<section class="gallery page-sections-23 alternate-bg2" id="about">
  <div class="container">
    <div class="titleBar"><span></span><h2>About</h2></div>
      <div class="embed">
        <iframe src="https://www.facebook.com/video/embed?video_id=397039657079259" width="800" frameborder="0"></iframe>
      </div>
      <p>
        Bollywood America is a Filmi-Fusion dance championship competition that features the top teams from in the United States and Canada. Each participating team is the winner of a bid-qualifying competition chosen by our organization. Teams of all nature including collegiate, independent, professional, and dance schools and academies are accepted to this competition.
      </p>
      <p>
        Our mission is to spread the awareness of the South Asian culture across the United States and Canada. We take great pride in the performing arts, education, and community outreach.
      </p>
  </div>
  <div class="container">
    <div class="titleBar"><h2>Past Winners</h2></div>
    <div class="four columns">
      <h3>2013</h3>
      <h5>Champion</h5>
      <p>UC Dhadak</p>
      <h5>Runners-Up</h5>
      <p>USC Zeher</p>
      <h5>Freestyle Battle</h5>
      <p>UC Dhadak</p>
    </div>
    <div class="four columns">
      <h3>2012</h3>
      <h5>Champion</h5>
      <p>UC San Diego Zor</p>
      <h5>Runners-Up</h5>
      <p>UofArizona OM Shanti</p>
      <h5>Freestyle Battle</h5>
      <p> UC Irvine Zamana</p>
    </div>
    <div class="four columns">
      <h3>2011</h3>
      <h5>Champion</h5>
      <p>UC Berkley Azaad</p>
      <h5>Runners-Up</h5>
      <p>UIUC Fizaa</p>
      <h5>Freestyle Battle</h5>
      <p> Broadstreet Badshaahz</p>
    </div>
    <div class="four columns">
      <h3>2010</h3>
      <h5>Champion</h5>
      <p>New York City Wanted Ashiqz</p>
      <h5>Runners-Up</h5>
      <p>UCLA Nashaa</p>
      <h5>Freestyle Battle</h5>
      <p> UCLA Nashaa</p>
    </div>
  </div>
</section>