<section class="gallery page-sections-13 alternate-bg2" id="management">
  <div class="container">
    <div class="titleBar"><span>Behind the Scenes</span><h2>Management</h2></div>
      <% data.management.each do |person| %>
        <%= partial(:officer, locals: { person: person} ) %>
      <% end %>
  </div>
</section>