<div class="one-third column">
  <div class="info">
    <img src= "<%= person.image %>" alt="" class="scale-with-grid">
    <div class="details">
      <h5><%= person.name %></h5>
      <p><%= person.bio %></p>
    </div>
  </div>
</div>