<section class="parallax parallax-sections-<%= num %>" id="parallax-sections-<%= num %>">
  <div class="container message">
    <h4>
      <span style="color: #ffffff;">
        <%= quote %>
      </span>
    </h4>
  </div>
</section>