<section class="parallax parallax-sections-<%= quote.num %>" id="parallax-sections-<%= quote.num %>">
  <div class="container message">
    <h4>
      <span style="color: #ffffff;">
        <%= quote.text %>
      </span>
    </h4>
  </div>
</section>