<div class="two columns project">
  <div class="gallery-padding">
    <div class="img-frame">
      <div class="image-wrapper">
        <a href="<%= sponsor.website %>" title="<%= sponsor.name %>" class="img-preview">
          <img src="<%=sponsor.image %>" height="114" class="scale-with-grid" />
        </a>
      </div>
      <p style="text-align:center;"><%= sponsor.name %></p>
  </div>
</div>