---
title: Bollywood America | 2014 | Bay Area, California
---

<!-- Primary Page Layout ================================================== -->

<div id="up"></div>

<!-- TOP BAR -->

<section class="topBar full-header" id="top">
  <div class="container">


    <a href="http://themes.webcreations907.com/ninezeroseven/option-one/">
      <h1 class="hide-text">Parallax</h1>
    </a>

    <nav class="mainMenu">
      <ul id="main-menu" class="menu">
        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="#up">Home</a></li>
        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="#about">About</a></li>
        <li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-151"><a href="#bids">Bids</a></li>
        <li id="menu-item-150" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-150"><a href="#management">Management</a></li>
        <li id="menu-item-149" class="menu-item menu-item-type-post_type menu-item-object-page-sections menu-item-149"><a href="#teams">Teams</a></li>
      </ul>
    </nav>

    <!-- DROP DOWN MENU -->

    <select size="1" id="subMenu" name="subMenu">
      <option selected="selected" value="">Menu</option>
      <option value="#up">-Home</option>
      <option value="#about">-About</option>
      <option value="#bids">-Bids</option>
      <option value="#management">-Management</option>
      <option value="#teams">-Portfolio</option>
    </select>

    <!-- DROP DOWN ENDS -->

  </div> <!-- ./container -->
</section> <!-- ./topBar -->

<!-- ENDS TOP BAR -->

<section class="headerContent entry">
  <div class="super">

    <a id="prevslide" class="load-item"></a>
    <a id="nextslide" class="load-item"></a>

    <div id="progress-back" class="load-item">
      <div id="progress-bar"></div>
    </div>

    <div class="container message">
      <div id="slidecaption"></div>
    </div>

    <div class="social">
      <a class="hide-text twitter" href="//twitter.com/BollywoodGlobal">Twitter</a>
      <a class="hide-text facebook" href="//facebook.com/bollywoodamerica">Facebook</a>
    </div>
  </div>
</section> <!-- ./headerContent -->

<%= partial :about %>

<section class="parallax parallax-sections-121" id="parallax-sections-121">
  <div class="container message">
    <h4><span style="color: #ffffff;">To dance is to be out of yourself. Larger, more beautiful, more powerful.. This is power, it is glory on earth and it is yours for the taking</span></h4>
  </div>
</section>

<%= partial :bids %>

<section class="parallax parallax-sections-121" id="parallax-sections-121">
  <div class="container message">
    <h4><span style="color: #ffffff;">To dance is to be out of yourself. Larger, more beautiful, more powerful.. This is power, it is glory on earth and it is yours for the taking</span></h4>
  </div>
</section>

<%= partial :management %>


<section class="parallax parallax-sections-114" id="parallax-sections-114">
  <div class="container message">
    <h4><span style="color: #ffffff;">To touch, to move, to inspire. This is the true gift of dance.</span></h4>
  </div>
</section>

<section class="gallery page-sections-14 alternate-bg1" id="teams">
  <div class="container">
    <div class="titleBar"><span>The competition is tough</span><h2>Teams</h2></div>
    <div class="filter">
      <!-- FILTER BEGINS -->
      <ul id="filterOptions">
        <li><a href="#" rel="all" class="color-btn main-btn">All</a></li>
        <li><a href="#" rel="gallery" class="color-btn gray">Gallery</a></li>
        <li><a href="#" rel="images" class="color-btn gray">Images</a></li>
        <li><a href="#" rel="videos" class="color-btn gray">Videos</a></li>
      </ul>
      <!-- FILTER ENDS -->

      <span class="gallery-option">
        <a href="#" id="three">
          <img src="http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/img/theme/three.png" alt="">
        </a>
        <a href="#" id="four">
          <img src="http://themes.webcreations907.com/ninezeroseven/option-one/wp-content/themes/ninezeroseven/assets/img/theme/four.png" alt="">
        </a>
      </span>
    </div>

    <ul class="holder">
      <!-- Loop through gallery items here -->
    </ul>
  </div> <!-- ./container -->
</section> <!-- ./services -->


<section class="parallax parallax-sections-116" id="parallax-sections-116">
  <div class="container message">
    <h4><span style="color: #ffffff;">When I dance, I want people to question the reality of what they’re seeing</span></h4>
  </div>
</section>

<section class="footer" id="foot">
  <div class="container">
    <span class="fl">&copy;<a href="http://themes.webcreations907.com/ninezeroseven/option-one">Parallax</a> All Right Reserved</span>
    <span class="fr"><a href="#up">^ Top</a></span>
  </div><!-- ./container -->
</section><!-- ./footer -->